:root {
  color-scheme: light dark;
  font-size: 16px;
  --emu-green: #056b38;
}

* {
  font-family: "system-ui", "Roboto", "Segoe UI", Arial, Helvetica, sans-serif;
  accent-color: var(--emu-green);
}

body {
  margin: 0;
}

popup-gui {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  padding: 24px;
  gap: 12px;
}

h1 {
  white-space: nowrap;
  margin: 0;
}

.status {
  white-space: nowrap;
  margin: 0;
}

.content {
  flex: 1;
  display: grid;
  place-items: center;
}

.error {
  color: red;
  font-family: ui-monospace, "Cascadia Mono", "Roboto Mono", monospace;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  border: 4px solid var(--emu-green);
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

select {
  appearance: none;
  padding: 8px 40px 8px 16px;
  border-radius: 8px;
  background-image: url("./chevron-down.svg");
  background-size: 24px;
  background-position: center right 8px;
  background-repeat: no-repeat;
}

.buttons {
  display: grid;
  justify-items: end;
}

button {
  appearance: none;
  border: none;
  background-color: var(--emu-green);
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
}

button:hover,
button:focus {
  filter: brightness(1.2);
}
